@font-face {
    font-family: "PingFang SC Bold";
    src: url("pingfang_blod.eot"); /* IE9 */
    src: url("pingfang_blod.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pingfang_blod.woff") format("woff"), /* chrome, firefox */
    url("pingfang_blod.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("pingfang_blod.svg#PingFang SC Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


